html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  width: 100%;
  max-width: 1366px;
  background: #f6f7ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
}

.menu {
  margin-right: 185px;
}

.register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 42px 87px 38px 15px;
}

.logo img {
  margin: 34px 12px 34px 100px;
}

.register img {
  margin: 6px 15px 5px;
}

.section h1 {
  padding: 80px;
}

h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.46px;
}

ul {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  column-gap: 38px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.top_container_text a:hover {
  transition: 1ms;
  color: #2c36f2;
}

.wrapper_top {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  height: 400px;
  background-image: url(../images/top_main_picture.png);
  background-color: rgba(44, 54, 242, 0.5);
  color: #f6f7ff;
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper_bottom {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1366px;
  height: 554px;
  background: #ffffff;
}

.top_container_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.top_container_text h2 {
  font-weight: 700;
  font-size: 54px;
  line-height: 64px;
  margin: 0;
}

.top_container_text h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.bottom_container_text {
  display: flex;
  flex-direction: column;
}

.bottom_container_text h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  color: #1f1e25;
}

.bottom_container_text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #707c87;
  text-align: start;
}

.bottom_container_text a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #f6f7ff;
}

.btn_top {
  display: flex;
  justify-content: center;
  width: 234px;
  height: 53px;
  align-items: center;
  position: relative;
  text-align: center;
  text-decoration: none;
  background: #f6f7ff;
  border-radius: 4px;
}

.btn_bottom {
  display: flex;
  position: relative;
  justify-content: center;
  width: 251px;
  height: 60px;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background-color: #2c36f2;
  color: #f6f7ff;
  border-radius: 4px;
}
